<template [ngIf]="!eventDetails">
    <div class="container">
        <nav class="title">
            Favorites
            <span id="back" (click)="goBack()"></span>
            <span id="profilPic"><img src="{{loginService.userLoggedIn.imageUrl}}"></span>
        </nav>
        <template [ngIf]="isInitialized && (events.length==0)">
            <span class="notFound">No events were added to favorites</span>
        </template>
        <ul class="eventsList" [class.menuOpen]="filterMenu">
            <li *ngFor="let event of events.slice(0,limit)">
                <span class="gradient" (click)="seeEventDetails(event)"></span>
                <div (click)="seeEventDetails(event)">
                    <img src="{{event.image}}">
                    <span id="title">{{event.title}}</span>
                    <span id="summary">{{event.city}} | {{event.startDate}}</span>
                    <span id="price">{{event.price}}$<span>per<br>person</span></span>
                </div>
                <span class="isFavorite" [class.colorHeart]="event.isFavorite" (click)="changeFavoriteStatus(event)"></span>
            </li>
            <template [ngIf]="(limit<events.length)">
                <button id="moreBtn" (click)="seeMore()">LOAD MORE</button>
            </template>
        </ul>
        <template [ngIf]="!filterMenu">
            <bottom-menu></bottom-menu>
        </template>
    </div>
</template>
<template [ngIf]="eventDetails">
    <section class="eventPicture">
        <img src="{{chosenEvent.image}}">
        <span id="eventTitleDetail">{{chosenEvent.title}}</span>
        <span id="back" (click)="goBack()"></span>
        <span class="isFavorite" [class.colorHeart]="chosenEvent.isFavorite" (click)="changeFavoriteStatus(chosenEvent)"></span>
    </section>
    <div class="eventDetails">
        <section class="eventDescription">
            {{chosenEvent.description}}
        </section>
        <section>
            <ul class="eventTicket">
                <li><span id="icon-place"></span><section>{{chosenEvent.city}}, {{chosenEvent.place}}</section></li>
                <li><span id="icon-calendar"></span><section>{{chosenEvent.startDate}}</section></li>
                <li><span id="icon-clock"></span><section>{{chosenEvent.startTime}} - {{chosenEvent.endTime}}</section></li>
                <li><span id="icon-money"></span><section>{{chosenEvent.price}}$</section></li>
            </ul>
            <button id="buyTickets" (click)="purchase(chosenEvent._id)">Buy Tickets</button>
        </section>
    </div>
</template>